%% 服务器基本配置

%% app productID
{app_bid, "net.crimoon.tk"}.

%% 91的appID
{app_id_91,	107061}.

%% 91的appKey
{app_key_91, "ddee2c0a5fdd0b7b7d363c01dbe153292667de1d2dc68488"}.

%% uc的cpid
{uc_cpid, "28996"}.

%% uc的gameid
{uc_gameid, "535093"}.

%% uc的apikey
{uc_apikey, "de4b89cacd7c754d8335c80a42bbcd93"}.

%% uc的serverid
{uc_serverid, "2453"}.


%% 数据库连接配置
%% {database, {数据库IP,端口,用户名,密码,数据库名称}}
{database, {"localhost",3306,"root","destinychildtmzz","cm_pay",100}}.

%% client 最低版本号需求
{client_version, {0,8,0}}.

%% 充值端口
%%{pay_port, {80, "172.18.230.116"}}.
{pay_port, {12831, "192.168.1.37"}}.


%% 账单服务器的全局进程名称
{pay_server, pm_pay}.
