%% 服务器监听端口
{game_port, 10003}.

%% 服务器ID
{server_id, 3}.

%% 已合并的服务器ID列表,合服后需要加上已合并掉的服务器ID列表
%%{merge_server_id_list, [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80]}.
{merge_server_id_list, []}.

%% 是否为跨服主服务器
{is_cross_master, false}.

%% 是否需要保持跨服服务器之间的连接
{is_need_connect, true}.

%% 跨服主服的IP
{cross_master_ip, '192.168.1.37'}.

%% 跨服主服的ID
{cross_master_id, 3}.

%% 跨服从服务器的列表,这个配置主服务器会去读取，从服务器不关心此配置
{cross_slave_server_list, [{4, '192.168.1.37'}, {22, '192.168.1.37'}, {28, '192.168.1.37'}]}.

%% 跨服连接需要设置的cookie
{cookie, moongame}.

%% 服务器所属平台
{platform, pm}.

%% 是否发布版
{is_release,true}.

%% 服务器错误日志等级
{log_level,3}.

%% 服务器错误日志目录
{logger_file_dir, "./log"}.

%% 连接帐号服务器密钥
{account_server_connect_key, "12345678901234567890123456789012"}.

%% 帐号服务器地址
{account_server_addr,"192.168.1.37"}.

%% 帐号服务器的全局进程名称
{platform_server, pm_platform}.

%% 账号服务器账单验证地址
{account_check_addr,"192.168.1.37"}.

%% 账单服务器的全局进程名称
{pay_server, pm_pay}.

%% 是否是新服务器
{is_new_server, true}.

%% 服务器最大同时在线玩家数
{max_online_num, 7000}.

%% 邮件进程最大缓存,单位：M
{mail_process_max_buff_size, 100}.

%% 战报进程最大缓存,单位：M
{hist_process_max_buff_size, 100}.

%% 好友进程最大缓存,单位：M
{friend_process_max_buff_size, 50}.

%% 数据库连接配置
%% {database, {数据库IP,端口,用户名,密码,数据库名称,连接数量}}
{database, {"localhost",3306,"root","destinychildtmzz","cm_game3",10}}.

%% 广播消息的web接口使用的认证信息与接口使用的端口信息
{passinfo, {"1234!@#$QWER()_+", 8003,"192.168.1.37"}}.

%%充值接口
{pay_port, {9003,"192.168.1.37"}}.

%% 客户端需求最低版本号
{client_version, {1,2,1}}.

% 开服时间设置
{serverOpenTime, {{2019,01,17},{15,0,0}}}.

%% 时区信息
{time_zone,{ {1970,1,1}, {8,0,0}}}.

%%push服务器http url
{push_url,"http://192.168.1.37:28082/recvpush"}.
%%push服务器key
{push_key,"1234567890"}.


%% 合并服务器信息 [主服id排头,被合并的随后]
%% 两组合并后的服务器示例: {merge_server_info, [[1,2,3,4], [5,6,7,8]]}.
%% 未合并的服务器示例: {merge_server_info, []}.  或不配置此项
%%{merge_server_info, [[3,4,5,6], [7,8,9,10], [11,12,13,14], [15,16,17,18],[19,20,21,22],[23,24,25,26],[27,28,29,30],[31,32,33,34]]}.
