%% 汉帝宝库免费抽取固定配置
%{第X次,第Y个格子}

%宝物
 {1, 16}.
 %军令状
 {2, 2}.
 %双倍
 {3, 15}.
 %银两
 {4, 12}.
 %四星装备
 {5, 9}.
 %元宝
 {6, 6}.
 %宝物
 {7, 16}.
 %宝物
 {8, 16}.
 %双倍
 {9, 15}.
 %银两
 {10, 12}.
 %爆灯
 {11, 7}.
 %封神材料
 {12, 14}.
 %双倍
 {13, 15}.
 %宝箱
 {14, 8}.
 %封神材料
 {15, 14}.
 %神兵符
 {16, 10}.
 %爆灯
 {17, 7}.
 %军令状
 {18, 2}.
 %双倍
 {19, 15}.
 %军令状
 {20, 2}.