%% 开放等级
{need_level, 20}.

%% 困难难度，难度系数(难度系数乘以当前玩家等级等于怪物增加的品阶)
{ratio, 0.2}.

%% vip对应次数
{vip_times, [2,3,3,3,4,4,4,4,4,5,5,5,5,5,5]}.

%% 冷却时间
{cool_down, 600}.

%% 简单关卡ID
{easy, 131}.

%% 普通关卡ID
{normal, 132}.

%% 复杂关卡ID
{hard, 133}.

%% 金币奖励
{easy_coin, 250000}.

{normal_coin, 500000}.

{hard_coin, 1000000}.

%% 失败收益系数
{easy_ratio, 0.8}.

{normal_ratio, 0.4}.

{hard_ratio, 0.2}.