{100601,
[{data_festival,
         1                                                 % 有多条活动配置时，保证这个id不重复 ，且不为0
         ,{{2015,4,10},{15,0,0}}                      % 活动开始时间，如   { {2013,3,9}, {8,0,0} }|{0,{1,2,3}}
         ,{{2015,4,12},{0,0,0}}                      % 活动结束时间，如   { {2013,3,10}, {8,0,0} }|{1,{2,3,4}}
         ,"豪华大礼"                                       % 活动名称
         ,"活动期间内，消耗宝石即可获得各种丰厚奖励，并且当活动结束时，会根据玩家消耗次数排名，获得更丰厚的奖励。"                                 % 活动描述
         ,5                                         % 每日免费次数
         ,60                                         % 单次价格
         ,550                                         % 十次价格
         ,13                                     % 金币宝箱ID
         ,15                                     % 道具宝箱ID
         ,[]  %道具宝箱潜规则列表,无潜规则为[], 格式[{特定次数1,特定boxID}, {特定次数2,特定boxID}, {特定次数3,特定boxID}...]
         ,[{30, 24105},{50, 24205},{100, 24106}]   %累计次数宝箱列表，格式[{累计次数1,特定boxID}, {累计次数2,特定boxID}, {累计次数3,特定boxID}...]
         ,[{1,1,{sell_reward,30000000,0,0,0,[{new_item,24107,2,1,0}],0,[{new_ger,7120,1,0}]}}, 
         {2,2,{sell_reward,15000000,0,0,0,[{new_item,24107,1,1,0}],0,[]}}, 
         {3,5,{sell_reward,10000000,0,0,0,[{new_item,24106,1,1,0}],0,[]}}, 
         {6,10,{sell_reward,5000000,0,0,0,[{new_item,24105,2,1,0}],0,[]}}, 
	 {11,30,{sell_reward,3000000,0,0,0,[{new_item,24204,1,1,0}],0,[]}}, 
	 {31,50,{sell_reward,1000000,0,0,0,[],0,[]}}]                 %格式[{起始排名,结束排名,该区间奖励 sell_reward}...]                           
        },
 {data_festival,
         2                                                 % 有多条活动配置时，保证这个id不重复 ，且不为0
         ,{{2015,4,13},{15,0,0}}                      % 活动开始时间，如   { {2013,3,9}, {8,0,0} }|{0,{1,2,3}}
         ,{{2015,4,19},{0,0,0}}                      % 活动结束时间，如   { {2013,3,10}, {8,0,0} }|{1,{2,3,4}}
         ,"豪华大礼"                                       % 活动名称
         ,"活动期间内，消耗宝石即可获得各种丰厚奖励，并且当活动结束时，会根据玩家消耗次数排名，获得更丰厚的奖励。"                                 % 活动描述
         ,5                                         % 每日免费次数
         ,60                                         % 单次价格
         ,550                                         % 十次价格
         ,13                                     % 金币宝箱ID
         ,15                                     % 道具宝箱ID
         ,[]  %道具宝箱潜规则列表,无潜规则为[], 格式[{特定次数1,特定boxID}, {特定次数2,特定boxID}, {特定次数3,特定boxID}...]
         ,[{30, 24105},{50, 24205},{100, 24106}]   %累计次数宝箱列表，格式[{累计次数1,特定boxID}, {累计次数2,特定boxID}, {累计次数3,特定boxID}...]
         ,[{1,1,{sell_reward,30000000,0,0,0,[{new_item,24107,2,1,0}],0,[{new_ger,7130,1,0}]}}, 
         {2,2,{sell_reward,15000000,0,0,0,[{new_item,24107,1,1,0}],0,[]}}, 
         {3,5,{sell_reward,10000000,0,0,0,[{new_item,24106,1,1,0}],0,[]}}, 
         {6,10,{sell_reward,5000000,0,0,0,[{new_item,24105,2,1,0}],0,[]}}, 
	 {11,30,{sell_reward,3000000,0,0,0,[{new_item,24204,1,1,0}],0,[]}}, 
	 {31,50,{sell_reward,1000000,0,0,0,[],0,[]}}]                    %格式[{起始排名,结束排名,该区间奖励 sell_reward}...]                           
        },	
 {data_festival,
	3                                                 % 有多条活动配置时，保证这个id不重复 ，且不为0
         ,{{2015,4,20},{0,0,0}}                      % 活动开始时间，如   { {2013,3,9}, {8,0,0} }|{0,{1,2,3}}
         ,{{2015,4,23},{0,0,0}}                      % 活动结束时间，如   { {2013,3,10}, {8,0,0} }|{1,{2,3,4}}
         ,"豪华大礼"                                       % 活动名称
         ,"活动期间内，消耗宝石即可获得各种丰厚奖励，并且当活动结束时，会根据玩家消耗次数排名，获得更丰厚的奖励。"                                 % 活动描述
         ,5                                         % 每日免费次数
         ,60                                         % 单次价格
         ,550                                         % 十次价格
         ,13                                     % 金币宝箱ID
         ,15                                     % 道具宝箱ID
         ,[]  %道具宝箱潜规则列表,无潜规则为[], 格式[{特定次数1,特定boxID}, {特定次数2,特定boxID}, {特定次数3,特定boxID}...]
         ,[{30, 24105},{50, 24205},{100, 24106}]   %累计次数宝箱列表，格式[{累计次数1,特定boxID}, {累计次数2,特定boxID}, {累计次数3,特定boxID}...]
         ,[{1,1,{sell_reward,30000000,0,0,0,[{new_item,24107,2,1,0}],0,[{new_ger,7120,1,0}]}}, 
         {2,2,{sell_reward,15000000,0,0,0,[{new_item,24107,1,1,0}],0,[]}}, 
         {3,5,{sell_reward,10000000,0,0,0,[{new_item,24106,1,1,0}],0,[]}}, 
         {6,10,{sell_reward,5000000,0,0,0,[{new_item,24105,2,1,0}],0,[]}}, 
	 {11,30,{sell_reward,3000000,0,0,0,[{new_item,24204,1,1,0}],0,[]}}, 
	 {31,50,{sell_reward,1000000,0,0,0,[],0,[]}}]                 %格式[{起始排名,结束排名,该区间奖励 sell_reward}...]                           
        },	
 {data_festival,
	4                                                % 有多条活动配置时，保证这个id不重复 ，且不为0
         ,{{2015,4,23},{15,0,0}}                      % 活动开始时间，如   { {2013,3,9}, {8,0,0} }|{0,{1,2,3}}
         ,{{2015,4,27},{0,0,0}}                      % 活动结束时间，如   { {2013,3,10}, {8,0,0} }|{1,{2,3,4}}
         ,"豪华大礼"                                       % 活动名称
         ,"活动期间内，消耗宝石即可获得各种丰厚奖励，并且当活动结束时，会根据玩家消耗次数排名，获得更丰厚的奖励。"                                 % 活动描述
         ,5                                         % 每日免费次数
         ,60                                         % 单次价格
         ,550                                         % 十次价格
         ,13                                     % 金币宝箱ID
         ,15                                     % 道具宝箱ID
         ,[]  %道具宝箱潜规则列表,无潜规则为[], 格式[{特定次数1,特定boxID}, {特定次数2,特定boxID}, {特定次数3,特定boxID}...]
         ,[{30, 24105},{50, 24205},{100, 24106}]   %累计次数宝箱列表，格式[{累计次数1,特定boxID}, {累计次数2,特定boxID}, {累计次数3,特定boxID}...]
         ,[{1,1,{sell_reward,30000000,0,0,0,[{new_item,24107,2,1,0}],0,[{new_ger,7140,1,0}]}}, 
         {2,2,{sell_reward,15000000,0,0,0,[{new_item,24107,1,1,0}],0,[]}}, 
         {3,5,{sell_reward,10000000,0,0,0,[{new_item,24106,1,1,0}],0,[]}}, 
         {6,10,{sell_reward,5000000,0,0,0,[{new_item,24105,2,1,0}],0,[]}}, 
	 {11,30,{sell_reward,3000000,0,0,0,[{new_item,24204,1,1,0}],0,[]}}, 
	 {31,50,{sell_reward,1000000,0,0,0,[],0,[]}}]                 %格式[{起始排名,结束排名,该区间奖励 sell_reward}...]                           
        }		
	]
        }.
        
{100602,
[{data_festival,
         1                                                 % 有多条活动配置时，保证这个id不重复 ，且不为0
         ,{{2015,2,12},{0,0,0}}                      % 活动开始时间，如   { {2013,3,9}, {8,0,0} }|{0,{1,2,3}}
         ,{{2015,2,17},{0,0,0}}                      % 活动结束时间，如   { {2013,3,10}, {8,0,0} }|{1,{2,3,4}}
         ,"情人节抽奖"                                       % 活动名称
         ,"情人节到来之际，祝天下有情人终成眷属！"                                 % 活动描述
         ,5                                         % 每日免费次数
         ,60                                         % 单次价格
         ,550                                         % 十次价格
         ,13                                    % 金币宝箱ID
         ,14                                   % 道具宝箱ID
         ,[]  %道具宝箱潜规则列表,无潜规则为[], 格式[{特定次数1,特定boxID}, {特定次数2,特定boxID}, {特定次数3,特定boxID}...]
         ,[{30, 24105},{50, 24205},{100, 24106}]     %累计次数宝箱列表，格式[{累计次数1,特定boxID}, {累计次数2,特定boxID}, {累计次数3,特定boxID}...]
         ,[{1,1,{sell_reward,0,0,0,0,[{new_item,10525,1,1,0},{new_item,10528,1,1,0}],0,[{new_ger,7130,1,0}]}}, 
         {2,2,{sell_reward,0,0,0,0,[{new_item,10525,1,1,0},{new_item,10528,1,1,0}],0,[{new_ger,6120,1,0}]}}, 
         {3,3,{sell_reward,0,0,0,0,[{new_item,10525,1,1,0},{new_item,10528,1,1,0}],0,[{new_ger,6120,1,0}]}}, 
         {4,5,{sell_reward,0,0,0,0,[{new_item,24205,1,1,0},{new_item,10525,1,1,0},{new_item,10528,1,1,0}],0,[]}}, 
	 {6,10,{sell_reward,0,0,0,0,[{new_item,24205,1,1,0},{new_item,24105,2,1,0}],0,[]}}, 
	 {11,20,{sell_reward,0,0,0,0,[{new_item,24204,1,1,0},{new_item,24105,1,1,0}],0,[]}}, 
	 {21,50,{sell_reward,0,0,0,0,[{new_item,24204,1,1,0},{new_item,24104,3,1,0}],0,[]}}]                 %格式[{起始排名,结束排名,该区间奖励 sell_reward}...]                                    
        },
{data_festival,
         2                                                 % 有多条活动配置时，保证这个id不重复 ，且不为0
         ,{{2016,1,28},{17,0,0}}                      % 活动开始时间，如   { {2013,3,9}, {8,0,0} }|{0,{1,2,3}}
         ,{{2016,1,30},{17,10,0}}                      % 活动结束时间，如   { {2013,3,10}, {8,0,0} }|{1,{2,3,4}}
         ,"情人节抽奖2"                                       % 活动名称
         ,"情人节活动测试啦2"                                 % 活动描述
         ,5                                         % 每日免费次数
         ,10                                         % 单次价格
         ,90                                         % 十次价格
         ,24405                                     % 金币宝箱ID
         ,24406                                     % 道具宝箱ID
         ,[{2, 24405}, {4, 24405}, {6, 24405}]  %道具宝箱潜规则列表,无潜规则为[], 格式[{特定次数1,特定boxID}, {特定次数2,特定boxID}, {特定次数3,特定boxID}...]
         ,[{3, 24406}, {7, 24406}, {9, 24406}]   %累计次数宝箱列表，格式[{累计次数1,特定boxID}, {累计次数2,特定boxID}, {累计次数3,特定boxID}...]
         ,[{1,1,{sell_reward,1111,0,0,0,[],1000,[]}}, {2,99999,{sell_reward,2222,0,0,0,[],1000,[]}}]                 %格式[{起始排名,结束排名,该区间奖励 sell_reward}...]                           
        }]
        }.