% {itemTypeID, [ItemTypeID1, ItemTypeID2...]} {宝物typeID,[与该宝物冲突的宝物ID列表]}


{treasure_physical_damage_addtion, [treasure_physical_damage_addtion,treasure_leizhen,treasure_huoli]}.
{treasure_physical_damage_reduction, [treasure_physical_damage_reduction,treasure_dikun,treasure_fengxun]}.
{treasure_magic_damage_addtion, [treasure_magic_damage_addtion,treasure_tianqian,treasure_zedui]}.
{treasure_magic_damage_reduction, [treasure_magic_damage_reduction,treasure_dikun,treasure_fengxun]}.
{treasure_critic, [treasure_critic,treasure_tianqian,treasure_huoli]}.
{treasure_critic_reduce, [treasure_critic_reduce,treasure_dikun,treasure_shangeng]}.
{treasure_doom, [treasure_doom,treasure_leizhen,treasure_zedui]}.
{treasure_miss, [treasure_miss,treasure_fengxun,treasure_shuikan]}.


{treasure_tianqian, [treasure_tianqian,treasure_magic_damage_addtion,treasure_critic]}.
{treasure_dikun, [treasure_dikun,treasure_magic_damage_reduction,treasure_critic_reduce]}.
{treasure_leizhen, [treasure_leizhen,treasure_physical_damage_addtion,treasure_doom]}.
{treasure_fengxun, [treasure_fengxun,treasure_magic_damage_reduction,treasure_miss]}.
{treasure_shuikan, [treasure_shuikan,treasure_physical_damage_reduction,treasure_miss]}.
{treasure_huoli, [treasure_huoli,treasure_physical_damage_addtion,treasure_critic]}.
{treasure_shangeng, [treasure_shangeng,treasure_physical_damage_reduction,treasure_critic_reduce]}.
{treasure_zedui, [treasure_zedui,treasure_magic_damage_addtion,treasure_doom]}.