%%银两创建联盟消耗
{coin_create_need, 1000000}.
%%元宝创建联盟消耗
{gold_create_need, 1000}.

%% 联盟名字长度限制，汉字占两个长度{最短长度, 最长长度}
{name_length_limit, {1, 12}}.

%% 联盟开启等级
{family_open_level, 38}.

%% 对应联盟等级的人数上限
{{max_role_num, 1}, 10}.
{{max_role_num, 2}, 10}.
{{max_role_num, 3}, 10}.
{{max_role_num, 4}, 10}.
{{max_role_num, 5}, 10}.
{{max_role_num, 6}, 10}.

%% 玩家申请加入联盟的最大申请数
{role_request_max_num, 50}.
%% 联盟可保存的最大申请数
{family_request_max_num, 50}.

%% 加入联盟的时间间隔
{join_protect_seconds, 3600}.

%% 公告最大长度,汉字占两个长度
{notice_max_length, 40}.

%% 联盟聊天的时间间隔，单位秒
{talk_interval_limit, 3}.

%% 联盟聊天单条信息最大字数
{talk_words_limit, 50}.

%% 联盟创建时的默认公告
{default_notice, <<"大家快来建设联盟啊啊啊啊啊">>}.