%% 新区冲级排行配置

%% 进入排行最低等级
{baseLevel, 30}.

%% 排行数量
{rankNum, 30}.

%% 活动持续时间,单位:天
{activityPeriod, 7}.

%% 排行榜展示时间,单位:天
{showPeriod, 2}.

%% 活动交界时间点-发奖时间
{timePoint, {23,59,59}}.

%%奖励列表
%% [{rankStart,rankEnd},{sell_reward}]
{rank_reward,
	[{{1,1},{sell_reward,1000000,0,0,0,[{new_item,24006,3,1,0}],0,[]}}
	,{{2,2},{sell_reward,800000,0,0,0,[{new_item,24006,2,1,0}],0,[]}}
	,{{3,3},{sell_reward,600000,0,0,0,[{new_item,24006,1,1,0}],0,[]}}
	,{{4,6},{sell_reward,400000,0,0,0,[{new_item,24007,2,1,0}],0,[]}}
	,{{7,10},{sell_reward,200000,0,0,0,[{new_item,24007,1,1,0}],0,[]}}
	,{{11,20},{sell_reward,150000,0,0,0,[{new_item,21110,3,1,0}],0,[]}}
	,{{21,30},{sell_reward,100000,0,0,0,[{new_item,21111,5,1,0}],0,[]}}
	]}.
