%% 活动配置
%%　@@@@警告：每次新增的活动的活动ID必须递增，不允许与历史ID重复
%% 该类型活动必须保证每个时段只有一个

{data_activity_rank, 
	1,
	treaHouse,
	{{2014,1,25},{23,59,59}},
	{{2014,1,29},{23,59,59}},
	{{2014,2,1},{23,59,59}},
	{level,1,240},
	{vip,1,12},
	"汉帝宝库",
	"btn_event_006.png",
	"汉帝宝库"
}.



{data_activity_rank, 
	2,
	treaHouse,
	{{2014,2,11},{23,59,59}},
	{{2014,2,15},{23,59,59}},
	{{2014,2,18},{23,59,59}},
	{level,1,240},
	{vip,1,12},
	"汉帝宝库",
	"btn_event_006.png",
	"汉帝宝库"
}.