%% 微博相关、推广码相关奖励配置


%%　绑定微博奖励
{bind_weibo_reward, {sell_reward,50000,0,0,500,[],0,[]}}.

%% 奖励分享升级，赠送银两
%% 赠送银两 = Base + Ratio * 任务等级
%% 配置格式： {weibo_share_arg, {Base, Ratio}}.

{weibo_share_arg, {1000, 50}}.

%% 绑定邀请码的奖励
{bind_invite_code_reward,{sell_reward,100000,0,0,0,[],1000,[]}}.


%% 被邀请者首充元宝Num时，赠送给发邀请码者，Num*Ratio的GoldBonus
%% 配置格式：{invite_first_pay_ratio, Ratio}.

{invite_first_pay_ratio, 0.3}.