
%% 开放等级
{need_role_level, 35}.

%% 每天允许报名次数
{melee_sign_times, 3}.

%% 每个战场的最大人数
{max_battle_ground_role_num, 500}.

%% 战场每天开放关闭时间表 
{battle_ground_open_time,
[
%% 战役ID、报名开始时间、报名结束时间、 战斗开始时间(时分秒)、战斗结束时间
{1, {19,0,0},  {19,05,0}},
{2, {19,10,0}, {19,15,0}},
{3, {19,20,0}, {19,25,0}},
{4, {19,30,0}, {19,35,0}},
{5, {19,40,0}, {19,45,0}},
{6, {19,50,0}, {19,55,0}}
]}.

%% 活动结束多少秒发送奖励
{delay_seconds, 30}.

%% 胜利增加积分
{win_score, 3}.

%% 胜利获得奖励
{win_reward, {sell_reward,25000,0,0,0,[],0,[]}}.


%% 连胜奖励
{longest_win_reward,
[
%% 连胜场次 奖励
{90, {sell_reward,0,0,0,0,[],8000,[]}},
{80, {sell_reward,0,0,0,0,[],6000,[]}},
{70, {sell_reward,0,0,0,0,[],5000,[]}},
{60, {sell_reward,0,0,0,0,[],4000,[]}},
{50, {sell_reward,0,0,0,0,[],3000,[]}},
{40, {sell_reward,0,0,0,0,[],2000,[]}},
{30, {sell_reward,0,0,0,0,[],1000,[]}},
{20, {sell_reward,0,0,0,0,[],500,[]}},
{10, {sell_reward,0,0,0,0,[],300,[]}},
{2, {sell_reward,0,0,0,0,[],100,[]}}
]}.


%% 胜利阵营积分榜奖励
{win_rank_reward_list,
[
{1,1, {sell_reward,2500000,0,0,100,[],0,[]}},
{2,2, {sell_reward,2000000,0,0,80,[],0,[]}},
{3,3, {sell_reward,1500000,0,0,60,[],0,[]}},
{4,10, {sell_reward,1000000,0,0,50,[],0,[]}},
{11,20, {sell_reward,500000,0,0,40,[],0,[]}},
{21,50, {sell_reward,250000,0,0,30,[],0,[]}},
{51,100, {sell_reward,150000,0,0,20,[],0,[]}},
{101,500, {sell_reward,100000,0,0,10,[],0,[]}}
]}.

%% 失败阵营积分榜奖励
{lose_rank_reward_list,
[
{1,1, {sell_reward,1250000,0,0,50,[],0,[]}},
{2,2, {sell_reward,1000000,0,0,40,[],0,[]}},
{3,3, {sell_reward,300000,0,0,30,[],0,[]}},
{4,10, {sell_reward,500000,0,0,25,[],0,[]}},
{11,20, {sell_reward,250000,0,0,20,[],0,[]}},
{21,50, {sell_reward,125000,0,0,15,[],0,[]}},
{51,100, {sell_reward,75000,0,0,10,[],0,[]}},
{101,500, {sell_reward,50000,0,0,5,[],0,[]}}
]}.



