%% 皇权配置

%% 报名皇权需要的vip等级
{enroll_need_viplevel, 2}.

%% 报名上限
{enrolee_max_num, 512}.

%% 本服务器第一届皇权的开始报名时间
{start_date, {{2013,10,20},{0,0,0}}}.

%% 每天的开始时间
{start_time, {22,0,0}}.

%% 皇权声望激励消耗配置  数量，成功率
{reputation_buff_arg, {50,0.5}}.

%% 皇权元宝激励消耗配置  数量，成功率
{gold_buff_arg, {10,1}}.

%% 512强之外获得的积分
{{score,10}, 3}.
%% 512强的获得的积分
{{score,9}, 5}.
%% 256强获得的积分
{{score,8}, 10}.
%% 128
{{score,7}, 16}.
%% 64
{{score,6}, 24}.
%% 32
{{score,5}, 33}.
%% 16
{{score,4}, 44}.
%% 8
{{score,3}, 60}.
%% 前四强
{{score,2}, 73}.
%% 亚军
{{score,1}, 87}.
%% 冠军
{{score, 0},100}.

%% 每届512强之外获得的奖励
{{reward,10}, {sell_reward,10000,0,0,0,[{new_item,24101,1,1,0}],100,[]}}.
%% 每届512强获得的奖励
{{reward,9}, {sell_reward,30000,0,0,0,[{new_item,24101,1,1,0}],300,[]}}.
%% 256强获得的积分
{{reward,8}, {sell_reward,50000,0,0,0,[{new_item,24101,2,1,0}],500,[]}}.
%% 128
{{reward,7}, {sell_reward,80000,0,0,0,[{new_item,24101,3,1,0}],800,[]}}.
%% 64
{{reward,6}, {sell_reward,120000,0,0,0,[{new_item,24101,5,1,0}],1200,[]}}.
%% 32
{{reward,5}, {sell_reward,160000,0,0,0,[{new_item,24101,7,1,0}],1600,[]}}.
%% 16
{{reward,4}, {sell_reward,200000,0,0,0,[{new_item,24101,9,1,0}],2000,[]}}.
%% 8
{{reward,3}, {sell_reward,250000,0,0,0,[{new_item,24101,12,1,0}],2500,[]}}.
%% 前四强
{{reward,2}, {sell_reward,300000,0,0,0,[{new_item,24101,15,1,0}],3000,[]}}.
%% 亚军
{{reward,1}, {sell_reward,400000,0,0,0,[{new_item,24101,18,1,0}],4000,[]}}.
%% 冠军
{{reward,0}, {sell_reward,500000,0,0,0,[{new_item,24101,24,1,0}],5000,[]}}.