%% 放鞭炮活动配置
%%　@@@@警告：每次新增的活动的活动ID必须递增，不允许与历史ID重复
%% 该类型活动必须保证每个时段只有一个

{data_activity_fire, 
	10001,						% 活动ID
	fire,						% 活动类型
	{{2014,2,8}, {0,0,0}},		% 开启时间
	{4,0,0,0},					% 结束时间
	{3,0,0,0},					% 关闭时间，活动结束后的领取时间，时间长度为结束时间点到关闭时间点。
	{level,1,120},				% 等级限制
	{vip,1,12},					% VIP限制
	"祭天祈福",					% 名称
	"btn_event_008.png",		% 图标
	"祭天祈福，主公定会得到上天的眷顾。",		% 描述
	[							% 全区次数及对应折扣额度
		{5000, 9},
		{20000, 8},
		{50000, 7}
	],
	[
		%隐藏增长次数
		{{0,8,0,0}, {0,12,0,0}, 3204},
		{{0,20,0,0}, {1,12,0,0}, 5028},
		{{1,20,0,0}, {2,08,0,0}, 9857},		
		{{2,20,0,0}, {3,23,0,0}, 21892}
	],
	80,						% 上榜资格
	10,							% 排行榜人数
	90,							% 点击一次消耗元宝
	20000,						% 银币保底奖励
	24125,						% 随机道具奖励box_id
	[							% 隐藏次数对应道具奖励box_id
		{100, 24124},
		{400, 24124},
		{800, 24124},
		{1300, 24124},
		{1900, 24124},
		{2600, 24124},
		{3400, 24124}
	],
	[
		%排行榜奖励
		{1,{sell_reward,4800000,0,0,0,[{new_item,22109,200,1,0}],0,[]}}
	   ,{2,{sell_reward,3800000,0,0,0,[{new_item,22109,150,1,0}],0,[]}}
	   ,{3,{sell_reward,2800000,0,0,0,[{new_item,22109,100,1,0}],0,[]}}
	   ,{4,{sell_reward,1800000,0,0,0,[{new_item,22109,50,1,0}],0,[]}}
	   ,{5,{sell_reward,1800000,0,0,0,[{new_item,22109,50,1,0}],0,[]}}
	   ,{6,{sell_reward,1800000,0,0,0,[{new_item,22109,50,1,0}],0,[]}}
	   ,{7,{sell_reward,880000,0,0,0,[],0,[]}}
	   ,{8,{sell_reward,880000,0,0,0,[],0,[]}}
	   ,{9,{sell_reward,880000,0,0,0,[],0,[]}}
	   ,{10,{sell_reward,880000,0,0,0,[],0,[]}}
	]
}.

