%% 报名等级限制
{role_level_limit, 30}.

%% 报名人数上限
{sign_num_limit, 4096}.

%% 每个阶段的开启时间
%% STATUS_NOT_OPEN,            0
{{start_time, 0}, {0, {0,0,0}}}.
%% STATUS_SIGN,                1
{{start_time, 1}, {1, {0,0,0}}}.
%% STATUS_WAIT_PRE_FIHGT1,     2
{{start_time, 2}, {2, {12,30,0}}}.
%% STATUS_PRE_FIGHT1,          3
{{start_time, 3}, {2, {13,00,0}}}.
%% STATUS_WAIT_PRE_FIHGT2,     4
{{start_time, 4}, {0, {0,0,0}}}.
%% STATUS_PRE_FIGHT2,          5
{{start_time, 5}, {2, {14,00,0}}}.
%% STATUS_WAIT_PRE_FIHGT3,     6
{{start_time, 6}, {0, {0,0,0}}}.
%% STATUS_PRE_FIGHT3,          7
{{start_time, 7}, {2, {15,00,0}}}.
%% STATUS_WAIT_PRE_FIHGT4,     8
{{start_time, 8}, {0, {0,0,0}}}.
%% STATUS_PRE_FIGHT4,          9
{{start_time, 9}, {2, {16,00,0}}}.
%% STATUS_WAIT_PRE_FIHGT5,     10
{{start_time, 10}, {0, {0,0,0}}}.
%% STATUS_PRE_FIGHT5,          11
{{start_time, 11}, {2, {17,00,0}}}.
%% STATUS_WAIT_PRE_FIHGT6,     12
{{start_time, 12}, {0, {0,0,0}}}.
%% STATUS_PRE_FIGHT6,          13
{{start_time, 13}, {2, {18,00,0}}}.
%% STATUS_WAIT_PRE_FIHGT7,     14
{{start_time, 14}, {0, {0,0,0}}}.
%% STATUS_PRE_FIGHT7,          15
{{start_time, 15}, {2, {19,00,0}}}.
%% STATUS_WAIT_PRE_FIHGT8,     16
{{start_time, 16}, {0, {0,0,0}}}.
%% STATUS_PRE_FIGHT8,          17
{{start_time, 17}, {2, {20,00,0}}}.
%% STATUS_WAIT_FOUR_FIGHT,     18
{{start_time, 18}, {0, {0,0,0}}}.
%% STATUS_FOUR_FIGHT,          19
{{start_time, 19}, {3, {15,0,0}}}.
%% STATUS_WAIT_TWO_FIGHT,      20
{{start_time, 20}, {0, {0,0,0}}}.
%% STATUS_TWO_FIGHT,           21
{{start_time, 21}, {3, {18,0,0}}}.
%% STATUS_WAIT_FINAL_FIGHT,    22
{{start_time, 22}, {0, {0,0,0}}}.
%% STATUS_FINAL_FIGHT,         23
{{start_time, 23}, {3, {21,0,0}}}.

%%参与奖
{reward_sign, {sell_reward,0,0,0,0,[],1000,[]}}.
%%小组赛4强奖励
{reward_group_first_four, {sell_reward,0,0,0,0,[{new_item,24404, 1, 1, 0}],20000,[]}}.
%%8强奖励
{reward_first_eight, {sell_reward,0,0,0,0,[{new_item,24404, 2, 1, 0}],40000,[]}}.
%%4强奖励
{reward_first_four, {sell_reward,0,0,0,0,[{new_item,24404, 3, 1, 0}],60000,[]}}.
%%亚军奖励
{reward_second, {sell_reward,0,0,0,0,[{new_item,24404, 4, 1, 0}],80000,[]}}.
%%冠军奖励
{reward_first, {sell_reward,0,0,0,0,[{new_item,24404, 5, 1, 0}],100000,[]}}.

{coin_val_list, [5000000, 10000000, 20000000]}.

{guess_right, 2}.
{guess_error, 0.5}.

