%% 无模版邮件配置
%%  {mail_template, 邮件内容, 邮件附件}
%%  {mail_template, 邮件内容, 邮件附件}可以有多条，表示连续发送多封邮件

%% id＝1，每个账号首次登录收到的邮件。
{data_temp_mail, 1, [{mail_template, "[color=fff00f]亲爱的主人，欢迎使用邮箱，这是见面礼哦[/color][br] ", {sell_reward,0,0,0,0,[{new_item,10209, 1, 1, 0},{new_item,30011, 10, 1, 0}],888,[]}}]}.

%% id＝2，删档测试活跃玩家奖励
{data_temp_mail, 2, [{mail_template, "[color=fff00f]亲爱的玩家，感谢您参与《口袋妖怪移动版》的删档封测。您在封测期间满足累计登录7天以上，且等级超过40级的活动条件。我们特此为您准备了一份封测豪华礼包[/color][br] ", {sell_reward,666666,0,0,0,[{new_item,24204, 1, 1, 0},{new_item,24104, 3, 1, 0}],1000,[]}}]}.

%% id-3，删档测试充值玩家奖励
{data_temp_mail, 3, [{mail_template, "[color=fff00f]亲爱的玩家，感谢您参与《口袋妖怪移动版》的删档封测，以及对游戏的大力支持。您在封测期间参与了内测充值2.5倍返利活动，以下为您的返利宝石[/color][br] ", {sell_reward,0,0,0,0,[{new_item,10209, 1, 1, 0}],500,[]}}]}.