%% 等级限制
{role_level_limit, 40}.

%% 支持金额
{support, [{0, 300000, 200000},{50, 350000, 250000},{60, 400000, 300000},{70, 450000, 350000},{80, 500000, 400000}]}.

%% 报名限制
{sign_num_limit, 2048}.

%% 问鼎开启时间
{start_date, {{2014,1,30},{23,29,59}}}.

%% 每个阶段的持续时间，单位为秒
%% 等待报名
{{left_seconds, 1}, 1800}.%%0.5小时
%% 开始报名
{{left_seconds, 2}, 244800}. %%68小时，2天20小时
%% 等待预选赛开打
{{left_seconds, 3}, 1800}. %%30分钟
%% 正在打预选赛
{{left_seconds, 4}, 1200}.%%20分钟
%% 等待八强赛
{{left_seconds, 5}, 322800}.%%89小时40分钟,3天17小时40分钟
%% 正在打八强赛
{{left_seconds, 6}, 10}.
%% 等待四强赛
{{left_seconds, 7}, 7190}.%%2小时
%% 正在打四强赛
{{left_seconds, 8}, 10}.
%% 等待两强赛
{{left_seconds, 9}, 7190}.%%2小时
%% 正在打两强赛
{{left_seconds, 10}, 10}.
%% 等待决赛
{{left_seconds, 11}, 7190}.%%2小时
%% 正在打决赛
{{left_seconds, 12}, 10}.

%% 预选赛奖励
%% 参与奖
{{reward_normal,2}, {sell_reward,0,0,0,0,[{new_item,21140,2,1,0}],0,[]}}.
%% 进入天榜奖励
{{reward_normal,1}, {sell_reward,0,0,0,0,[{new_item,21140,10,1,0}],0,[]}}.
%% 进入地榜奖励
{{reward_normal,0}, {sell_reward,0,0,0,0,[{new_item,21140,5,1,0}],0,[]}}.

%% 地榜奖励
%% 参与奖
{{reward_ground,3}, {sell_reward,2000000,0,0,0,[],0,[]}}.
%% 前八强
{{reward_ground,2}, {sell_reward,3000000,0,0,0,[],0,[]}}.
%% 亚军
{{reward_ground,1}, {sell_reward,4000000,0,0,0,[],0,[]}}.
%% 冠军
{{reward_ground,0}, {sell_reward,5000000,0,0,0,[],0,[]}}.

%% 天榜奖励
%% 参与奖
{{reward_sky,3}, {sell_reward,5000000,0,0,0,[],0,[]}}.
%% 前八强
{{reward_sky,2}, {sell_reward,6000000,0,0,0,[],0,[{new_ger,11512,1,0}]}}.
%% 亚军
{{reward_sky,1}, {sell_reward,8000000,0,0,0,[],0,[{new_ger,11512,1,0},{new_ger,11512,1,0}]}}.
%% 冠军
{{reward_sky,0}, {sell_reward,10000000,0,0,0,[],0,[{new_ger,11512,1,0},{new_ger,11512,1,0},{new_ger,11512,1,0}]}}.

%% 普天同庆奖励
{reward_all_sky_first, {sell_reward,400000,0,0,0,[],5000,[]}}.
{reward_all_sky_second, {sell_reward,300000,0,0,0,[],4000,[]}}.
{reward_all_ground_first, {sell_reward,250000,0,0,0,[],3000,[]}}.
{reward_all_ground_second, {sell_reward,200000,0,0,0,[],2000,[]}}.

%% 天榜名额
{sky_num, 2}.
%% 地榜名额
{ground_num, 2}.

