%% 是否开放意见反馈功能
{is_open_suggest, false}.

%% 被申请加好友上限
{be_request_add_friend_limit, 100}.

%% 意见反馈间隔时间
{suggest_interval_seconds, 600}.

%% 意见标题长度，字节
{suggest_title_length, 40}.

%% 意见内容长度，字节
{suggest_content_length, 400}.

%% 进入战役排行榜所需最小关卡ID
{rank_min_dungeon_id, 30010}.

%% 主公最大等级
{max_role_level, 240}.

%% 武将最大等级
{max_ger_level, 240}.

%% 每次升级奖励的体力
{level_up_add_energy, 10}.

%%　每次升级奖励的探索次数
{level_up_add_dscv, 15}.

%% 退化卡牌需要元宝
{down_ger_need_gold, 1}.
 
%% 体力上限
{max_energy, 40}.

%% 0点回复体力值
{zero_clock_add_energy, 20}.

%% 神将挑战默认次数
{challengeGodTimes,2}.

%% 神将录dungeonID列表
{challengeGodDungeonIDList, [1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016]}.

%% 神将挑战默认出战武将位置
{challengeGodPos, 2}.

%% 神将录购买价格
{buy_challengeGod_gold, 100}.

%% 体力恢复开始时间
{energy_recover_start_time, {0,0,0}}.

%% 体力恢复步频
{energy_recover_interval, {0,15,0}}.

%% 体力购买每次回复次数
{buy_energy_recover, 20}.

%% 体力购买价格
{buy_energy_gold, [600,600,1200,1200,2400,2400,3600,3600,6000,6000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000]}.

%% 探索次数购买每次回复
{buy_dscv_recover, 20}.

%% 探索次数购买价格
{buy_dscv_gold, [600,600,1200,1200,1800,1800,1800,2400,3000,3000,6000,6000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000,12000]}.

%% 争霸次数购买每次回复
{buy_pvp_recover, 4}.

%% 争霸次数恢复步频
{pvp_recover_interval, {1,0,0}}.

%% 争霸次数购买价格
{buy_pvp_gold, [300,300,600,600,900,900,1200,1200,1500,1500,3000,3000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000,6000]}.

%% 秩序战场次数购买每次回复
{buy_rule_recover, 5}.

%% 秩序战场次数恢复步频
{rule_recover_interval, {0,20,0}}.

%% 秩序战场次数购买价格
{buy_rule_gold, [750,750,750,750,750,750,900,900,900,900,900,1050,1050,1050,1050,1050,1200,1200,1200,1200,1200,1350,1350,1350,1350,1350,1500,1500,1500,1500,1500]}.

%% 银币购买每次回复,{单次回复基准,等级加成倍率}
{buy_coin_recover, {30000, 500}}.

%% 银币次数购买价格
{buy_coin_gold, [300,300,300,300,300,600,600,600,600,600,900,900,900,900,900,1500,1500,1500,1500,1500,2100,2100,2100,2100,2100,2700,2700,2700,2700,2700,3600,3600,3600,3600,3600,4500,4500,4500,4500,4500,6000,6000,6000,6000,6000,7500,7500,7500,7500,7500,9000,9000,9000,9000,9000,11400,11400,11400,11400,11400,13800,13800,13800,13800,13800,16200,16200,16200,16200,16200,18600,18600,18600,18600,18600,21000,21000,21000,21000,21000,21000]}.

%% 异星次数上限
{max_alien_times,5}.

%% 异星次数恢复开始时间
{alien_recover_start_time, {0,0,0}}.

%% 异星次数恢复的步频
{alien_recover_interval, {0,36,0}}.

%% 探索次数上线
{max_dscv_times,40}.

%% 探索次数恢复开始时间
{dscv_recover_start_time, {0,0,0}}.

%% 探索次数恢复的步频
{dscv_recover_interval, {0,7,0}}.

%% 最大争霸次数
{max_pvp_times, 15}.

%% 争霸次数恢复开始时间
{pvp_recover_start_time, {0,0,0}}.

%% 秩序战场次数上限
{max_rule_times, 30}.

%% 秩序战场次数恢复开始时间
{rule_recover_start_time, {0,0,0}}.

%% 讨伐次数上限
{max_random_pvp_times, 20}.

%% 讨伐次数刷新时间
{random_pvp_times_refresh_time, {0,0,0}}.

%% 武将单挑次数上限
{max_single_pvp_times, 30}.

%% 武将单挑次数刷新时间
{single_pvp_refresh_times, {0,0,0}}.

%% 奇遇中默认激活的关卡数量
{default_encounter_num, 4}.

%% 奇遇中可以解锁的数量
{free_encounter_num, 0}.

%% 奇遇格子每次解锁的价格
{free_encounter_price,[100,200,300]}.

%% 奇遇常规奖励暴击数及概率配置
{explore_crit_prob, [{1,0.58},{2,0.23},{4,0.14},{8,0.05}]}.

%% 全局掉落概率配置
{global_drop_rate, 1}.

%% pvp排行榜胜利加的声望
{pvp_fight_win_add_rep, 20}.

%% pvp排行榜失败加的声望
{pvp_fight_fail_add_rep, 16}.

%% 官爵每日刷新时间
{title_refresh_time, {23,59,0}}.

%% 创角流程选择的武将列表,第一个{主将ID,位置}，后面的为杂兵武将{ID,位置}
{{create_ger_list,6020}, [{6020,2}]}.
{{create_ger_list,6070}, [{6070,2}]}.
{{create_ger_list,6130}, [{6130,2}]}.


%% 各种攻击的伤害系数随机区间
{physic_sword, {1,1}}.
{physic_axe, {1,1}}.
{physic_hammer, {1,1}}.
{physic_bow,	{1,1}}.
{magic_poison,	{1,1}}.
{magic_thunder,{1,1}}.
{magic_fire,	{1,1}}.
{magic_ice,		{1,1}}.
{physic_stone,		{1,1}}.
{physic_wind,		{1,1}}.
{physic_wave,		{1,1}}.
{physic_claw,		{1,1}}.

%% 帐号初始化银两
{account_init_coin, 666666}.

%% 帐号初始化VIP等级
%%{account_init_vipLevel, 7}.
{account_init_vipLevel, 6}.

%% 帐号初始化VIP等级
%%{account_init_gold, 6666}.
{account_init_gold, 6666}.

%% 主公最大微博分享次数
{max_weibo_count, 3}.

%% 主公微博分享次数刷新时间
{weibo_refresh_time, {0,0,0}}.

%% 客户端设置界面配置
%% 1:weibo 2:invite 3:gift 4:91 5:feedback 6:music 7:push 8:sign 9:logout
{client_setting, [2,3,6,7,8,9]}.

%% 拜帝王设定
%% 开启需要的等级
{signEmperorNeedLevel, 1}.
%% 潜规则需求的最高元宝值
{signEmperorJudgeGold, 20}.


%% 帝王潜规则每日宝箱
{signEmperorBoxID1, 25008}.
%% 帝王普通每日宝箱
{signEmperorBoxID2, 25008}.

%% 平民潜规则每日宝箱
{signEmperorBoxID3, 25007}.
%% 平民普通每日宝箱
{signEmperorBoxID4, 25007}.

%% 帝王连续签到宝箱
{signEmperorBoxID5, 25009}.
%% 平民连续签到宝箱
{signEmperorBoxID6, 25010}.

%% 遭遇战衰减配置
{encounterDecay,1}.

%% 新建帐号界面,1=>app, 2=>android
{guiCreateRole,2}.

%% 最多获得邀请首充的奖励次数
{reward_firstPay_times, 1000}.

%% 微信分享设置
{weixin_share_time,{7,{23,59,59}}}.
%% 微信分享奖励
{weixin_share_reward,{sell_reward,0,0,0,100,[],0,[]}}.

%% 经验卡牌列表
{exp_card_list, [2,3,4,5,6]}.

%% 节日活动排行榜奖励邮件ID
{festival_rank_mail_id, 1076}.

%% 节日活动上榜需要次数
{festival_rank_need_times, 50}.

%% 更名道具ID和需要宝石
{change_name, {50017, 200}}.

%% 登陆页公告背景id列表
{pic_list, [2,4,5,6,7,8,9]}.

%% 月卡价格
{month_card_price, 5000}.

%% 月卡天数
{month_card_days, 30}.

%% 月卡需要当日充值宝石
{month_card_need_pay, 0}.

%% 月卡每日领取宝石
%%{month_card_draw, 1888}.
{month_card_draw, 1888}.

%% 好友挑战次数
{friend_fight_times, 20}.

%% 好友挑战胜利奖励 {金币, 浆果}
{friend_fight_win, {10000, 1000}}.

%% 好友挑战失败奖励 {金币, 浆果}
{friend_fight_lose, {6000, 600}}.

%% 等级排行奖励发放日期 {10,{0,0,0}} 开服第10天0点0分0秒发放
{level_rank_reward_datetime, {10,{0,0,0}}}.

%% 等级排行奖励邮件模板ID
{level_rank_reward_mail_id, 1072}.

%% 等级排行奖励
{level_rank_reward,
[
{1,1,{sell_reward,0,0,0,0,[],10000,[]}},
{2,2,{sell_reward,0,0,0,0,[],5000,[]}},
{3,3,{sell_reward,0,0,0,0,[],3000,[]}},
{4,10,{sell_reward,0,0,0,0,[],1000,[]}}
]}.


%% 是否开放战斗demo
{is_open_fight_demo, true}.

%% 战斗demo数据

{fight_demo, {sc_fight_request,
        [{p_fighter,
             6130, 6130, 3, 20000,
             20000, 0, 5,240},
         {p_fighter,
             7193,7193, -2, 10000,
              10000, 0, 10,240},
         {p_fighter,
              7013, 7013, -3, 10000,
              10000, 0, 5,240},
         {p_fighter,
              7103, 7103, -4, 15000,
              15000, 0, 10,240},
         {p_fighter,
              7163, 7163, -5, 20000,
              20000, 0, 10,240}],
   [{p_action,
              0, 103, [], 0,
              0, 0},
    {p_action,
              -2, 62, [], 25,
              -13210, 80},
    {p_action,
              -3, 62, [], 25,
              -15035, 80},
    {p_action,
              -4, 62, [], 25,
              -18035, 80},
    {p_action,
              -5, 62, [], 25,
              -15223, 80},
    {p_action,
              3, 32,
              [-2,-3,-4,-5],
              -100, 0, 0},
    {p_action,
              0, 102,
              [],
              0, 0, 0},
     {p_action,
              3, 51, [], 25,
              -2363, 0},
     {p_action,
              -5, 21,
              [3],
              50, 0, 0},
	 {p_action,
              3, 51, [], 25,
              -2363, 0},
     {p_action,
              -4, 21,
              [3],
              50, 0, 0},
     {p_action,
              3, 57, [], 25,
              -2153, 0},
     {p_action,
              -3, 27,
              [3],
              50, 0, 0},
	 {p_action,
              3, 52, [], 25,
              -2543, 0},
     {p_action,
              -2, 22,
              [3],
              50, 0, 0},
	{p_action,
              -2, 52, [], 25,
              -5210, 0},
	 {p_action,
              -3, 52, [], 25,
              -5223, 0},
     {p_action,
              -4, 52, [], 25,
              -5223, 0},
	 {p_action,
              -5, 52, [], 25,
              -5223, 0},
     {p_action,
              3, 22,
              [-2,-3,-4,-5],
              50, 0, 0},	      
	 {p_action,
              0, 101, [], 0,
              0, 0}],
    true}
}.


{{fight_demo,5100}, {sc_fight_request,
        [{p_fighter,
             5130, 5130, 2, 20000,
             20000, 0, 5,240},
         {p_fighter,
             2121,2121, -2, 10000,
              10000, 0, 10,240},
         {p_fighter,
              5100, 5100, 5, 6000,
              6000, 0, 5,240},
         {p_fighter,
              2061, 2061, -4, 6000,
              6000, 0, 10,240},
         {p_fighter,
              2061, 2061, -6, 6000,
              6000, 0, 10,240}],
        [{p_action,
              0, 104, [], 0,
              0, 0},
	{p_action,
              -2, 67, [], 25,
              -4210, 80},
	{p_action,
              -4, 67, [], 25,
              -4035, 80},
	{p_action,
              -6, 67, [], 25,
              -4223, 80},
         {p_action,
              2, 37,
              [-2,-4,-6],
              50, 0, 0},
         {p_action,
              0, 103,
              [],
              0, 0, 0},
	 {p_action,
              2, 56, [], 25,
              -2223, 0},
         {p_action,
              -6, 26,
              [2],
              50, 0, 0},
	 {p_action,
              -2, 55, [], 25,
              -2543, 0},
         {p_action,
              5, 25,
              [-2],
              50, 0, 0},
	 {p_action,
              2, 56, [], 25,
              -2153, 0},
         {p_action,
              -4, 26,
              [2],
              50, 0, 0},
	 {p_action,
              2, 54, [], 25,
              -2363, 0},
         {p_action,
              -2, 24,
              [2],
              50, 0, 0},
         {p_action,
              0, 102,
              [],
              0, 0, 0},
	{p_action,
              -2, 57, [], 25,
              -2210, 0},
	{p_action,
              -4, 57, [], 25,
              -2035, 0},
	{p_action,
              -6, 57, [], 25,
              -2223, 0},
         {p_action,
              2, 27,
              [-2,-4,-6],
              50, 0, 0},
	 {p_action,
              0, 101, [], 0,
              0, 0}],
    true}
}.

{{fight_demo,5020}, {sc_fight_request,
        [{p_fighter,
             5130, 5130, 2, 20000,
             20000, 0, 5,240},
         {p_fighter,
             2121,2121, -2, 10000,
              10000, 0, 10,240},
         {p_fighter,
              5020, 5020, 5, 6000,
              6000, 0, 5,240},
         {p_fighter,
              2061, 2061, -4, 6000,
              6000, 0, 10,240},
         {p_fighter,
              2061, 2061, -6, 6000,
              6000, 0, 10,240}],
        [{p_action,
              0, 104, [], 0,
              0, 0},
	{p_action,
              -2, 67, [], 25,
              -4210, 80},
	{p_action,
              -4, 67, [], 25,
              -4035, 80},
	{p_action,
              -6, 7, [], 25,
              -4223, 80},
         {p_action,
              2, 37,
              [-2,-4,-6],
              50, 0, 0},
         {p_action,
              0, 103,
              [],
              0, 0, 0},
	 {p_action,
              2, 56, [], 25,
              -2223, 0},
         {p_action,
              -6, 26,
              [2],
              50, 0, 0},
	 {p_action,
              -2, 58, [], 25,
              -1533, 0},
	 {p_action,
              -4, 58, [], 25,
              -1354, 0},
	 {p_action,
              -6, 58, [], 25,
              -1243, 0},
         {p_action,
              5, 28,
              [-2,-4,-6],
              50, 0, 0},
	 {p_action,
              2, 56, [], 25,
              -2153, 0},
         {p_action,
              -4, 26,
              [2],
              50, 0, 0},
	 {p_action,
              2, 54, [], 25,
              -2363, 0},
         {p_action,
              -2, 24,
              [2],
              50, 0, 0},
         {p_action,
              0, 102,
              [],
              0, 0, 0},
	{p_action,
              -2, 57, [], 25,
              -2210, 0},
	{p_action,
              -4, 57, [], 25,
              -2035, 0},
	{p_action,
              -6, 57, [], 25,
              -2223, 0},
         {p_action,
              2, 27,
              [-2,-4,-6],
              50, 0, 0},
	 {p_action,
              0, 101, [], 0,
              0, 0}],
    true}
}.

{{fight_demo,5120}, {sc_fight_request,
        [{p_fighter,
             5130, 5130, 2, 20000,
             20000, 0, 5,240},
         {p_fighter,
             2121,2121, -2, 10000,
              10000, 0, 10,240},
         {p_fighter,
              5120, 5120, 5, 6000,
              6000, 0, 5,240},
         {p_fighter,
              2061, 2061, -4, 6000,
              6000, 0, 10,240},
         {p_fighter,
              2061, 2061, -6, 6000,
              6000, 0, 10,240}],
        [{p_action,
              0, 104, [], 0,
              0, 0},
	{p_action,
              -2, 67, [], 25,
              -4210, 80},
	{p_action,
              -4, 67, [], 25,
              -4035, 80},
	{p_action,
              -6, 67, [], 25,
              -4223, 80},
         {p_action,
              2, 37,
              [-2,-4,-6],
              50, 0, 0},
         {p_action,
              0, 103,
              [],
              0, 0, 0},
	 {p_action,
              2, 56, [], 25,
              -2223, 0},
         {p_action,
              -6, 26,
              [2],
              50, 0, 0},
	 {p_action,
              -2, 56, [], 25,
              -2543, 0},
         {p_action,
              5, 26,
              [-2],
              50, 0, 0},
	 {p_action,
              2, 56, [], 25,
              -2153, 0},
         {p_action,
              -4, 26,
              [2],
              50, 0, 0},
	 {p_action,
              2, 54, [], 25,
              -2363, 0},
         {p_action,
              -2, 24,
              [2],
              50, 0, 0},
         {p_action,
              0, 102,
              [],
              0, 0, 0},
	{p_action,
              -2, 57, [], 25,
              -2210, 0},
	{p_action,
              -4, 57, [], 25,
              -2035, 0},
	{p_action,
              -6, 57, [], 25,
              -2223, 0},
         {p_action,
              2, 27,
              [-2,-4,-6],
              50, 0, 0},
	 {p_action,
              0, 101, [], 0,
              0, 0}],
    true}
}.
