% 宝物成长表
{data_treasure_value,treasure_physical_damage_addtion,0,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,8,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_physical_damage_addtion,1,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,15,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_physical_damage_addtion,2,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,25,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_physical_damage_addtion,3,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,35,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_physical_damage_addtion,4,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,45,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_physical_damage_addtion,5,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,60,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_physical_damage_addtion,6,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,75,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_physical_damage_addtion,7,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,90,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_physical_damage_addtion,8,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,110,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_physical_damage_addtion,9,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,130,0,0,0,0,0,0,0,0,0}}.

{data_treasure_value,treasure_physical_damage_reduction,0,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,10,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_physical_damage_reduction,1,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,20,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_physical_damage_reduction,2,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,30,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_physical_damage_reduction,3,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,45,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_physical_damage_reduction,4,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,60,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_physical_damage_reduction,5,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,75,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_physical_damage_reduction,6,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,100,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_physical_damage_reduction,7,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,120,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_physical_damage_reduction,8,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,140,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_physical_damage_reduction,9,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,165,0,0,0,0,0,0,0,0}}.

{data_treasure_value,treasure_magic_damage_addtion,0,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_magic_damage_addtion,1,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,0,15,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_magic_damage_addtion,2,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,0,25,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_magic_damage_addtion,3,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,0,35,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_magic_damage_addtion,4,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,0,45,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_magic_damage_addtion,5,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,0,60,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_magic_damage_addtion,6,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,0,75,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_magic_damage_addtion,7,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,0,90,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_magic_damage_addtion,8,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,0,110,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_magic_damage_addtion,9,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,0,130,0,0,0,0,0,0,0}}.

{data_treasure_value,treasure_magic_damage_reduction,0,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10,0,0,0,0,0,0}}.
{data_treasure_value,treasure_magic_damage_reduction,1,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,20,0,0,0,0,0,0}}.
{data_treasure_value,treasure_magic_damage_reduction,2,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30,0,0,0,0,0,0}}.
{data_treasure_value,treasure_magic_damage_reduction,3,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,45,0,0,0,0,0,0}}.
{data_treasure_value,treasure_magic_damage_reduction,4,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,60,0,0,0,0,0,0}}.
{data_treasure_value,treasure_magic_damage_reduction,5,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,75,0,0,0,0,0,0}}.
{data_treasure_value,treasure_magic_damage_reduction,6,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,100,0,0,0,0,0,0}}.
{data_treasure_value,treasure_magic_damage_reduction,7,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,120,0,0,0,0,0,0}}.
{data_treasure_value,treasure_magic_damage_reduction,8,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,140,0,0,0,0,0,0}}.
{data_treasure_value,treasure_magic_damage_reduction,9,{add_attr,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,165,0,0,0,0,0,0}}.

{data_treasure_value,treasure_critic,0,{add_attr,0,0,0,0,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_critic,1,{add_attr,0,0,0,0,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_critic,2,{add_attr,0,0,0,0,18,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_critic,3,{add_attr,0,0,0,0,26,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_critic,4,{add_attr,0,0,0,0,36,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_critic,5,{add_attr,0,0,0,0,46,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_critic,6,{add_attr,0,0,0,0,58,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_critic,7,{add_attr,0,0,0,0,70,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_critic,8,{add_attr,0,0,0,0,85,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_critic,9,{add_attr,0,0,0,0,100,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.

{data_treasure_value,treasure_critic_reduce,0,{add_attr,0,0,0,0,0,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_critic_reduce,1,{add_attr,0,0,0,0,0,15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_critic_reduce,2,{add_attr,0,0,0,0,0,25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_critic_reduce,3,{add_attr,0,0,0,0,0,35,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_critic_reduce,4,{add_attr,0,0,0,0,0,45,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_critic_reduce,5,{add_attr,0,0,0,0,0,60,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_critic_reduce,6,{add_attr,0,0,0,0,0,75,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_critic_reduce,7,{add_attr,0,0,0,0,0,90,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_critic_reduce,8,{add_attr,0,0,0,0,0,110,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_critic_reduce,9,{add_attr,0,0,0,0,0,130,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.

{data_treasure_value,treasure_doom,0,{add_attr,0,0,0,0,0,0,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_doom,1,{add_attr,0,0,0,0,0,0,15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_doom,2,{add_attr,0,0,0,0,0,0,25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_doom,3,{add_attr,0,0,0,0,0,0,35,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_doom,4,{add_attr,0,0,0,0,0,0,45,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_doom,5,{add_attr,0,0,0,0,0,0,60,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_doom,6,{add_attr,0,0,0,0,0,0,75,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_doom,7,{add_attr,0,0,0,0,0,0,90,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_doom,8,{add_attr,0,0,0,0,0,0,110,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_doom,9,{add_attr,0,0,0,0,0,0,130,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.

{data_treasure_value,treasure_miss,0,{add_attr,0,0,0,0,0,0,0,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_miss,1,{add_attr,0,0,0,0,0,0,0,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_miss,2,{add_attr,0,0,0,0,0,0,0,18,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_miss,3,{add_attr,0,0,0,0,0,0,0,26,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_miss,4,{add_attr,0,0,0,0,0,0,0,36,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_miss,5,{add_attr,0,0,0,0,0,0,0,46,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_miss,6,{add_attr,0,0,0,0,0,0,0,58,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_miss,7,{add_attr,0,0,0,0,0,0,0,70,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_miss,8,{add_attr,0,0,0,0,0,0,0,85,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_miss,9,{add_attr,0,0,0,0,0,0,0,100,0,0,0,0,0,0,0,0,0,0,0,0,0,0}}.

{data_treasure_value,treasure_tianqian,0,{add_attr,0,0,0,0,5,0,0,0,0,0,0,0,0,0,8,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_tianqian,1,{add_attr,0,0,0,0,10,0,0,0,0,0,0,0,0,0,15,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_tianqian,2,{add_attr,0,0,0,0,18,0,0,0,0,0,0,0,0,0,25,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_tianqian,3,{add_attr,0,0,0,0,26,0,0,0,0,0,0,0,0,0,35,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_tianqian,4,{add_attr,0,0,0,0,36,0,0,0,0,0,0,0,0,0,45,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_tianqian,5,{add_attr,0,0,0,0,46,0,0,0,0,0,0,0,0,0,60,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_tianqian,6,{add_attr,0,0,0,0,58,0,0,0,0,0,0,0,0,0,75,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_tianqian,7,{add_attr,0,0,0,0,70,0,0,0,0,0,0,0,0,0,90,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_tianqian,8,{add_attr,0,0,0,0,85,0,0,0,0,0,0,0,0,0,110,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_tianqian,9,{add_attr,0,0,0,0,100,0,0,0,0,0,0,0,0,0,130,0,0,0,0,0,0,0}}.

{data_treasure_value,treasure_dikun,0,{add_attr,0,0,0,0,0,8,0,0,0,0,0,0,0,0,0,10,0,0,0,0,0,0}}.
{data_treasure_value,treasure_dikun,1,{add_attr,0,0,0,0,0,15,0,0,0,0,0,0,0,0,0,20,0,0,0,0,0,0}}.
{data_treasure_value,treasure_dikun,2,{add_attr,0,0,0,0,0,25,0,0,0,0,0,0,0,0,0,30,0,0,0,0,0,0}}.
{data_treasure_value,treasure_dikun,3,{add_attr,0,0,0,0,0,35,0,0,0,0,0,0,0,0,0,45,0,0,0,0,0,0}}.
{data_treasure_value,treasure_dikun,4,{add_attr,0,0,0,0,0,45,0,0,0,0,0,0,0,0,0,60,0,0,0,0,0,0}}.
{data_treasure_value,treasure_dikun,5,{add_attr,0,0,0,0,0,60,0,0,0,0,0,0,0,0,0,75,0,0,0,0,0,0}}.
{data_treasure_value,treasure_dikun,6,{add_attr,0,0,0,0,0,75,0,0,0,0,0,0,0,0,0,100,0,0,0,0,0,0}}.
{data_treasure_value,treasure_dikun,7,{add_attr,0,0,0,0,0,90,0,0,0,0,0,0,0,0,0,120,0,0,0,0,0,0}}.
{data_treasure_value,treasure_dikun,8,{add_attr,0,0,0,0,0,110,0,0,0,0,0,0,0,0,0,140,0,0,0,0,0,0}}.
{data_treasure_value,treasure_dikun,9,{add_attr,0,0,0,0,0,130,0,0,0,0,0,0,0,0,0,165,0,0,0,0,0,0}}.

{data_treasure_value,treasure_leizhen,0,{add_attr,0,0,0,0,0,0,8,0,0,0,0,0,8,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_leizhen,1,{add_attr,0,0,0,0,0,0,15,0,0,0,0,0,15,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_leizhen,2,{add_attr,0,0,0,0,0,0,25,0,0,0,0,0,25,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_leizhen,3,{add_attr,0,0,0,0,0,0,35,0,0,0,0,0,35,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_leizhen,4,{add_attr,0,0,0,0,0,0,45,0,0,0,0,0,45,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_leizhen,5,{add_attr,0,0,0,0,0,0,60,0,0,0,0,0,60,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_leizhen,6,{add_attr,0,0,0,0,0,0,75,0,0,0,0,0,75,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_leizhen,7,{add_attr,0,0,0,0,0,0,90,0,0,0,0,0,90,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_leizhen,8,{add_attr,0,0,0,0,0,0,110,0,0,0,0,0,110,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_leizhen,9,{add_attr,0,0,0,0,0,0,130,0,0,0,0,0,130,0,0,0,0,0,0,0,0,0}}.

{data_treasure_value,treasure_fengxun,0,{add_attr,0,0,0,0,0,0,0,5,0,0,0,0,0,0,0,10,0,0,0,0,0,0}}.
{data_treasure_value,treasure_fengxun,1,{add_attr,0,0,0,0,0,0,0,10,0,0,0,0,0,0,0,20,0,0,0,0,0,0}}.
{data_treasure_value,treasure_fengxun,2,{add_attr,0,0,0,0,0,0,0,18,0,0,0,0,0,0,0,30,0,0,0,0,0,0}}.
{data_treasure_value,treasure_fengxun,3,{add_attr,0,0,0,0,0,0,0,26,0,0,0,0,0,0,0,45,0,0,0,0,0,0}}.
{data_treasure_value,treasure_fengxun,4,{add_attr,0,0,0,0,0,0,0,36,0,0,0,0,0,0,0,60,0,0,0,0,0,0}}.
{data_treasure_value,treasure_fengxun,5,{add_attr,0,0,0,0,0,0,0,46,0,0,0,0,0,0,0,75,0,0,0,0,0,0}}.
{data_treasure_value,treasure_fengxun,6,{add_attr,0,0,0,0,0,0,0,58,0,0,0,0,0,0,0,100,0,0,0,0,0,0}}.
{data_treasure_value,treasure_fengxun,7,{add_attr,0,0,0,0,0,0,0,70,0,0,0,0,0,0,0,120,0,0,0,0,0,0}}.
{data_treasure_value,treasure_fengxun,8,{add_attr,0,0,0,0,0,0,0,85,0,0,0,0,0,0,0,140,0,0,0,0,0,0}}.
{data_treasure_value,treasure_fengxun,9,{add_attr,0,0,0,0,0,0,0,100,0,0,0,0,0,0,0,165,0,0,0,0,0,0}}.

{data_treasure_value,treasure_shuikan,0,{add_attr,0,0,0,0,0,0,0,5,0,0,0,0,0,10,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_shuikan,1,{add_attr,0,0,0,0,0,0,0,10,0,0,0,0,0,20,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_shuikan,2,{add_attr,0,0,0,0,0,0,0,18,0,0,0,0,0,30,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_shuikan,3,{add_attr,0,0,0,0,0,0,0,26,0,0,0,0,0,45,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_shuikan,4,{add_attr,0,0,0,0,0,0,0,36,0,0,0,0,0,60,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_shuikan,5,{add_attr,0,0,0,0,0,0,0,46,0,0,0,0,0,75,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_shuikan,6,{add_attr,0,0,0,0,0,0,0,58,0,0,0,0,0,100,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_shuikan,7,{add_attr,0,0,0,0,0,0,0,70,0,0,0,0,0,120,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_shuikan,8,{add_attr,0,0,0,0,0,0,0,85,0,0,0,0,0,140,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_shuikan,9,{add_attr,0,0,0,0,0,0,0,100,0,0,0,0,0,165,0,0,0,0,0,0,0,0}}.

{data_treasure_value,treasure_huoli,0,{add_attr,0,0,0,0,5,0,0,0,0,0,0,0,8,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_huoli,1,{add_attr,0,0,0,0,10,0,0,0,0,0,0,0,15,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_huoli,2,{add_attr,0,0,0,0,18,0,0,0,0,0,0,0,25,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_huoli,3,{add_attr,0,0,0,0,26,0,0,0,0,0,0,0,35,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_huoli,4,{add_attr,0,0,0,0,36,0,0,0,0,0,0,0,45,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_huoli,5,{add_attr,0,0,0,0,46,0,0,0,0,0,0,0,60,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_huoli,6,{add_attr,0,0,0,0,58,0,0,0,0,0,0,0,75,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_huoli,7,{add_attr,0,0,0,0,70,0,0,0,0,0,0,0,90,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_huoli,8,{add_attr,0,0,0,0,85,0,0,0,0,0,0,0,110,0,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_huoli,9,{add_attr,0,0,0,0,100,0,0,0,0,0,0,0,130,0,0,0,0,0,0,0,0,0}}.

{data_treasure_value,treasure_shangeng,0,{add_attr,0,0,0,0,0,8,0,0,0,0,0,0,0,10,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_shangeng,1,{add_attr,0,0,0,0,0,15,0,0,0,0,0,0,0,20,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_shangeng,2,{add_attr,0,0,0,0,0,25,0,0,0,0,0,0,0,30,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_shangeng,3,{add_attr,0,0,0,0,0,35,0,0,0,0,0,0,0,45,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_shangeng,4,{add_attr,0,0,0,0,0,45,0,0,0,0,0,0,0,60,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_shangeng,5,{add_attr,0,0,0,0,0,60,0,0,0,0,0,0,0,75,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_shangeng,6,{add_attr,0,0,0,0,0,75,0,0,0,0,0,0,0,100,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_shangeng,7,{add_attr,0,0,0,0,0,90,0,0,0,0,0,0,0,120,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_shangeng,8,{add_attr,0,0,0,0,0,110,0,0,0,0,0,0,0,140,0,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_shangeng,9,{add_attr,0,0,0,0,0,130,0,0,0,0,0,0,0,165,0,0,0,0,0,0,0,0}}.

{data_treasure_value,treasure_zedui,0,{add_attr,0,0,0,0,0,0,8,0,0,0,0,0,0,0,8,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_zedui,1,{add_attr,0,0,0,0,0,0,15,0,0,0,0,0,0,0,15,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_zedui,2,{add_attr,0,0,0,0,0,0,25,0,0,0,0,0,0,0,25,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_zedui,3,{add_attr,0,0,0,0,0,0,35,0,0,0,0,0,0,0,35,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_zedui,4,{add_attr,0,0,0,0,0,0,45,0,0,0,0,0,0,0,45,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_zedui,5,{add_attr,0,0,0,0,0,0,60,0,0,0,0,0,0,0,60,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_zedui,6,{add_attr,0,0,0,0,0,0,75,0,0,0,0,0,0,0,75,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_zedui,7,{add_attr,0,0,0,0,0,0,90,0,0,0,0,0,0,0,90,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_zedui,8,{add_attr,0,0,0,0,0,0,110,0,0,0,0,0,0,0,110,0,0,0,0,0,0,0}}.
{data_treasure_value,treasure_zedui,9,{add_attr,0,0,0,0,0,0,130,0,0,0,0,0,0,0,130,0,0,0,0,0,0,0}}.