%% 南蛮入侵配置

%% 活动开始时间
{start_time, {20,0,0}}.

%% 活动结束时间
{stop_time, {21,0,0}}.

%% boss基础信息，{模版ID，等级，站位}
{boss_info, [{10000, 1, 4},{10000, 1, 2},{10000, 1, 6}]}.

%% boss初始品阶
{boss_init_quality, 0}.

%% boss升级需要的击杀时间,单位：秒
{boss_levelup_time, 600}.

%% boss降级需要的连续不击杀次数
{boss_leveldown_times, 3}.

%% {战斗奖励参数, {每次战斗获得的银两,每次战斗获得的最大银两值,声望系数,每次战斗获得的最大声望,每次活动获得的声望总数}}
{fight_reward_arg, {0.125,15000,0.001,50,400}}.

%% 复活时间,单位：秒
{recover_cooldown_time, 45}.

%% 直接复活需要的元宝
{recover_gold, 10}.


%% 复活可以增加下一回合的攻击百分比加成
{add_attackratio, 100}.


%% 援军助阵增加主公自身所有武将攻击力百分比加成
{add_reinforcements, 100}.


%% 幸运奖获奖玩家人数百分比
{reward_luck, 10}.

%% {击杀奖励类型,#sell_reward{}}.
%% 奖励结构为data.hrl中定义的sell_reward结构
%% 奖励五彩盒
{reward_killer, {sell_reward,4500000,0,0,0,[{new_item,30001, 1, 1, 0}],0,[]}}.
{reward_rank1,  {sell_reward,7500000,0,0,0,[{new_item,30001, 3, 1, 0}],0,[]}}.
{reward_rank2,  {sell_reward,6000000,0,0,0,[{new_item,30001, 2, 1, 0}],0,[]}}.
{reward_rank3,  {sell_reward,4500000,0,0,0,[{new_item,30001, 1, 1, 0}],0,[]}}.
{reward_rank4,  {sell_reward,3000000,0,0,0,[{new_item,30001, 1, 1, 0}],0,[]}}.
{reward_rank5,  {sell_reward,3000000,0,0,0,[{new_item,30001, 1, 1, 0}],0,[]}}.
{reward_rank6,  {sell_reward,3000000,0,0,0,[{new_item,30001, 1, 1, 0}],0,[]}}.
{reward_rank7,  {sell_reward,3000000,0,0,0,[{new_item,30001, 1, 1, 0}],0,[]}}.
{reward_rank8,  {sell_reward,3000000,0,0,0,[{new_item,30001, 1, 1, 0}],0,[]}}.
{reward_rank9,  {sell_reward,3000000,0,0,0,[{new_item,30001, 1, 1, 0}],0,[]}}.
{reward_rank10,  {sell_reward,3000000,0,0,0,[{new_item,30001, 1, 1, 0}],0,[]}}.
{reward_luckers, {sell_reward,3000000,0,0,0,[],0,[]}}.
{reward_join, {sell_reward,1500000,0,0,0,[],0,[]}}.

%% 擂鼓助阵配置
%% {{buff,擂鼓类型}, {加成buff层数，消耗货币类型，消耗货币数量，获得的声望}}.
%% 擂鼓类型：		1|2|3，对应第一个选项、第二个选项、第三个选项
%% 消耗货币类型：	coin=银两，gold=元宝 
{{buff,1}, {1, coin, 6000, 100}}.
{{buff,2}, {5, gold, 196, 1000}}.
{{buff,3}, {30, gold, 1960, 10000}}.


%% 离线参加活动相关配置
%% 离线参与需要的vip等级
{offline_play_need_vipLevel, 3}.
%% 离线参与需要的元宝
{offline_play_cost_gold, 100}.
%% 离线参与的奖励,奖励结构为data.hrl中定义的sell_reward结构
{offline_play_reward, {sell_reward,750000,0,0,0,[{new_item,24102, 3, 1, 0}],1000,[]}}.