%% 汉帝宝库配置

%% 格子基础id,宝箱格子id由该值作为计算基准,将宝箱位置结果发送给客户端
{pos_baseID, 0}.
%% 随机宝箱格子id
{pos_list, [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]}.

%% 随机宝箱每个格子随机的概率
{pos_random,[
 {1150,13}
,{5,11}
,{1110,5}
,{5,3}
,{700,2}
,{700,10}
,{30,1}
,{1000,16}
,{1250,8}
,{1250,12}
,{1250,4}
,{100,9}
,{500,14}
,{200,6}

,{400,7}
,{350,15}
]}.

%% 进入等级限制
{level_limit, 30}.

%% 抽取一次的价格,抽取十次的价格用该值计算,元宝
{oneTimeCost, 100}.

%% 刷新一次的价格,银两
{refresh_cost, 8888}.

%% 免费探索次数
{treasure_house_free_times, 5}.


%% 每次抽取增加的探险值
{add_mark, 1}.

%% 保底宝箱配置: {base_reward,[宝箱配置列表]} ,
%% 宝箱配置 : {宝箱位置, reward结构的保底奖励} 
{base_reward, [
			%%神兵符＊20，军令状＊20
			{1,{sell_reward,0,0,0,0,[{new_item,21110,20,1,0},{new_item,21140,20,1,0}],0,[]}}
			%%皇室贡品＊10，百炼盒＊10
	      ,{2,{sell_reward,0,0,0,0,[{new_item,24110,10,1,0},{new_item,24106,10,1,0}],0,[]}}
			%%五星坐骑
	      ,{3,{sell_reward,0,0,0,0,[{new_item,24067,1,1,0}],0,[]}}
	      	%%五星武器
	      ,{4,{sell_reward,0,0,0,0,[{new_item,24065,1,1,0}],0,[]}}
			%%五星宝物
	      ,{5,{sell_reward,0,0,0,0,[{new_item,24123,1,1,0}],0,[]}}
	      ]}.

%% 进入排行榜的最低积分
{rank_base_mark, 40}.


%% 排行榜奖励
%% {rank_reward, {奖励人数,奖励列表}}
%% 奖励结构:{RankID, Reward结构}
{rank_reward, {10, [
			{1,{sell_reward,6666666,0,0,0,[{new_item,24123,1,1,0}],0,[]}}
		   ,{2,{sell_reward,4800000,0,0,0,[{new_item,24110,15,1,0}],0,[]}}
		   ,{3,{sell_reward,2800000,0,0,0,[{new_item,24110,10,1,0}],0,[]}}
		   ,{4,{sell_reward,1888888,0,0,0,[{new_item,24110,8,1,0}],0,[]}}
		   ,{5,{sell_reward,1888888,0,0,0,[{new_item,24110,8,1,0}],0,[]}}
		   ,{6,{sell_reward,1888888,0,0,0,[{new_item,24110,8,1,0}],0,[]}}
		   ,{7,{sell_reward,888888,0,0,0,[{new_item,24110,5,1,0}],0,[]}}
		   ,{8,{sell_reward,888888,0,0,0,[{new_item,24110,5,1,0}],0,[]}}
		   ,{9,{sell_reward,888888,0,0,0,[{new_item,24110,5,1,0}],0,[]}}
		   ,{10,{sell_reward,888888,0,0,0,[{new_item,24110,5,1,0}],0,[]}}
		   ]}}.

%% 保底奖励是否通过邮件发送，"1"=> 邮件发送. "2"=>客户端主动发起领取请求
{is_baseReward_send_by_mail,"2"}.
