{data_item_use,30009,energy,3,5}.
{data_item_use,30010,energy,10,3}.
{data_item_use,30011,energy,30,1}.
{data_item_use,30012,dscv,5,5}.
{data_item_use,30013,dscv,20,3}.
{data_item_use,30014,dscv,40,1}.
{data_item_use,30015,pvp,3,5}.
{data_item_use,30016,pvp,6,3}.
{data_item_use,30017,pvp,10,1}.
