%%注意，主服务器的ID必须为所有参与合服的服务器中最小的
{is_delete_dead_player, true}.

{offline_days, 14}.

{level, 10}.

{pay_gold, 0}.

{rename_fix, ".ss"}.

%%{server_id_list, [2,3,7,11,15,19,23,27,31,35,39,43,47,51,55,59,63,67,71,75,79,80]}.
{server_id_list, [2,3]}.

{{database, 2}, {"localhost",3306,"laochen","laochenlao","cm_game2",10}}.
{{database, 3}, {"localhost",3306,"laochen","laochenlao","cm_game3",10}}.

{merge_log_path, "./log/merge.log"}.
